<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CG App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<script>

function myFunction() {
var text1= $('#text1').val();
var text2= $('#text2').val();
  $.ajax({
              url: "/join",
              type: "POST",
              data: {text1:text1,
              text2:text2}

          }).done(function(response) {

            var html= "<br><br><br><p> <b> Predicted : <b><p>";

            response =response.result;
                 $.each(response,function(key,val){
                 console.log(val);
                    html+="<p>"+val+"<p>"

                });
                html +="<br>";
                $(".show-data").append(html);
            });
};

  </script>
<body>
    <p>
        <h1 class="title">Give me the DNA</h1>

            <input type="text" id="text1" name="text1" class = "input-field"><br><br>
            <button id="clicked" onclick="myFunction()" class="submit-button">Submit</button>
        </p>
    <div class="show-data" >

    </div>
</body>
</html>